<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506190706617-tc2fja7c0tqn1onh6cudlk0e9d7r1ia9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506190706617-tc2fja7c0tqn1onh6cudlk0e9d7r1ia9</string>
	<key>API_KEY</key>
	<string>AIzaSyCf_2_wGFK1syMMIezQZoJtbSuPb9aLHXU</string>
	<key>GCM_SENDER_ID</key>
	<string>506190706617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kim.howon.LSC</string>
	<key>PROJECT_ID</key>
	<string>dlsc-81b6f</string>
	<key>STORAGE_BUCKET</key>
	<string>dlsc-81b6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506190706617:ios:907cae051d54fdd209e868</string>
	<key>DATABASE_URL</key>
	<string>https://dlsc-81b6f.firebaseio.com</string>
</dict>
</plist>